body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 15px; /* Increased border-radius for a more bubbly look */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  text-align: center;
}

h1 {
  color: #4CAF50;
}

.question {
  font-size: 18px;
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.option {
  background-color: #4CAF50;
  color: #fff;
  padding: 15px; /* Increased padding for larger buttons */
  border: none;
  border-radius: 20px; /* Increased border-radius for a more bubbly look */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform for a subtle interaction */
}

.option:hover {
  background-color: #45a049;
  transform: scale(1.05); /* Slightly scale the button on hover */
}

.result {
  margin-top: 20px;
  font-weight: bold;
}

/* Add this CSS to your existing styles */
#options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button[type="submit"] {
  background-color: #007bff; /* Change the color for the submit button */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

